input {
    width: 100%;
    height: 30px;
    background: url("./../../assets/img/searchIcon.png") no-repeat;
    background-position: 2px;
    background-size: 25px;
    padding-left: 30px;
    font-size: 25px;
}

